
<style>
    .home-container {
    display: grid;
    grid-template-columns: 1fr 10fr;
    }

    .genre {
    margin: 1px 15px
    }

    .row{
        display: flex;
    }

</style>

<div class="home-container">
    <div class="genre">
        <hr>
        <h3> Genres: </h3>
        <hr>

        <a href="{{request.path}}"> All </a>
        <hr>
        {% for genre in genres %}
            <a href="{{request.path}}?q={{genre.name}}"> {{ genre }} </a>
            <hr>
        {% endfor %}
    </div>

    <div>
        <hr>
            <h3> {{ heading }} </h3>
        <hr>
        <br>
         <a href="{% url 'add' %}">Add Movie</a>
        <br><br>

        <div class="row" >
            {% for movie in movies %}
                <div class="card" style="width: 17rem; margin-left: 1%; ">
                  <img src="{{ movie.picture.url }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ movie.name }}  {{ movie.year }} Id {{movie.id}}</h5>
                      <h6 class="card-title">{{ movie.rate }}</h6>
                    <p class="card-text">{{ movie.description | slice:":200"}}.</p>

                      {% if request.user.is_authenticated %}
                          <a href="{% url 'watching' movie.id %}" class="btn btn-primary">Watch</a>

                          {% if movie in request.user.movies.all %}
                          <a href="{%  url 'drop' movie.id %}" class="btn btn-primary">Drop</a>
                          {% else %}
                          <a href="{%  url 'adding' movie.id %}" class="btn btn-primary">Add</a>
                          {% endif %}

                          {% if request.user == movie.creator %}
                               <a href="{% url 'delete' movie.id %}" class="btn btn-primary">Delete</a>
                          {% endif %}
                      {% endif %}

                  </div>
                </div>
            {% endfor%}
        </div>

    </div>

</div>